<h1>Welcome to Afrilish!!</h1>
<p>Dear {{name}}</p>
<p>{{welcome}}</p>
<p>{{welcome2}}</p>
<p>{{verificationToken}}</p>
<img src="{{imageUrl}}" alt="Signup Image" />
<p>Do not share this OTP with anyone. Afrilish takes your account security very
  seriously. Afrilish Customer Service will never ask you to disclose or verify
  your Afrilish password, OTP, credit card, or banking account number. If you
  receive a suspicious email with a link to update your account information, do
  not click on the link—instead, report the email to Afrilish for investigation.
</p>
<p>Thank you!"
</p>